/* @keyframes scroll-in {
    0% {right: -100%;}
    100% {right: 0%;}
  } */

.search-button{
    background-color: white;
    color: var(--brown);
    border-radius: 20px;
    border: 1px solid var(--brown);
    margin-left: 3px;
}

#search {
    border-radius: 15px;
    border: 1px solid var(--brown);
    height: 20px;
}

footer button {
    width: 40%;
    min-width: 100px;
    max-width: 100px;
    margin: 10px auto 0px auto;
    background-color: var(--brown);
    color: var(--gray-nav);
    border-radius: 15px;
    border: 1px solid var(--gray-nav);
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
}

footer button:hover {
    background-color: var(--gray-nav);
    color: var(--brown);
}

.read-more {
    display: block;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px auto;
    font-family: 'Nunito', sans-serif;
    border: 1px solid var(--blue);
    text-align: center;
    width: 80px;
    transition: background-color 0.3s, color 0.3s;
}

.read-more:hover {
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
    cursor: pointer;
}