/* --------------------------- Global  Styles --------------------------- */
:root {
  --orange: #e98000;
  --blue: #008f95;
  --gray-nav: #ede9e5;
  --gray-bg: #f8f5f2;
  --brown: #836c40;
  --light-brown: #F8ECDF;
}

/* -- No show
--------------------*/
.logo-desktop {
  display: none;
}

body {
  background: var(--gray-bg);
  margin: 0;
}

header {
  width: 100%;
  background: var(--gray-nav);
  box-shadow: 0px 2px 10px #000000;
  position: fixed;
  top: 0px;
}

.header-desktop {
  display: flex;
  justify-content: space-between
}

footer {
  background: var(--brown);
}

.logo {
  width: 30%;
  min-width: 100px;
  max-width: 100px;
  margin: 5px 0px auto 10px;
}

.separator {
  display: block;
  margin: 15px 0px;
  background-color: var(--light-brown);
  border: solid 1px var(--brown);
}


/* -- Headers & Paragraphs 
------------------------------- */
h1 {
  font-family: 'Fredericka the Great', cursive;
  color: var(--blue);
  font-size: 1.5rem;
  margin: 25px auto 5px auto;
  text-align: center;
}

.h1-starter {
  margin-top: 70px;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  color: var(--blue);
  font-size: 1rem;
  margin: 10px auto 5px auto;
  text-align: center;
}

.h2-for-text-titles {
  font-family: 'Nunito', sans-serif;
  color: var(--brown);
  text-decoration: underline;
  margin-top: 20px;
}

p {
  font-family: 'Nunito', sans-serif;
  color: var(--brown);
  font-size: 0.9rem;
  width: 80%;
  margin: 10px auto;
}

.location-info a{
  font-family: 'Nunito', sans-serif;
  color: var(--brown);
  font-size: 0.7rem;
}

.visit {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 50%;
  text-align: right;
}

.opening-hours {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.opening-hours span {
  font-weight: 700;
}

.days {
  text-align: right;
}

.days p {
  margin-right: 5px;
}

.hours {
  text-emphasis: left;
}

.hours p {
  margin-left: 0px;
}

/* -- Images & Map
------------------------------- */
.landing-img {
  display: block;
  width: 100%;
  margin: 60px 0px 0px 0px;
}

.home-img {
  display: block;
  width: 80%;
  max-width: 450px;
  margin: 10px auto 30px auto;
}

.img-exhibition-groups {
  display: block;
  width: 80%;
  max-width: 450px;
  margin: 10px auto 30px auto;
}

.img-exhibitions-landing {
  display: block;
  width: 80%;
  margin: 10px auto;
}

.img-explore-landing {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.img-events {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.map {
  display: block;
  width: 80%;
  margin: 20px auto 10px auto;
}


/*  Navigation & Control Panel 
------------------------------- */
nav {
  display: none;
  }
  
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  position: absolute;
  background: var(--gray-bg);
  right: 0px;
  top: 55px;
  width: 80%;
  min-width: 240px;
  max-width: 350px;
  border: 2px solid var(--orange);
  border-radius: 15px 0px 0px 15px;
  animation-name: scroll-in;
  animation-duration: 450ms;
  animation-timing-function: ease-out;
}

nav a {
  font-size: 1rem;
  font-weight: 450;
  text-decoration: none;
  color:  var(--orange);
  font-family: 'Nunito', sans-serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

nav li {
  display: flex;
  justify-content: start;
  padding-top: 15px;
  height: 35px;
  width: 80%;
  min-width: 230px;
  align-items: center;
  background: var(--gray);
}

nav img {
  padding-right: 15px;
  margin-left: 20px;
}

.ham {
  position: relative;
  display: inline;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: var(--orange);
  cursor: pointer;
  margin-left: 10px;
}  

.current {
  text-decoration: none;
  font-weight: 850;
}

.search-bar-form {
  position: absolute;
  right: 10px;
  top: 220px;
}



/* -- Footer 
------------------------------- */
footer h2{
  font-family: 'Nunito', sans-serif;
  color: var(--gray-nav);
  text-decoration: underline;
  font-size: 0.8rem;
  margin-top: 15px;
  padding-top: 20px;
}

footer a {
  font-family: 'Nunito', sans-serif;
  font-size: 0.7rem;
  color: var(--gray-nav);
  margin: 0px auto;
  text-align: center;
  text-decoration: none;
}

.basic-info {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

footer form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

footer input {
  margin: 2px auto;
  border-radius: 5px;
  border: none;
}

.social-media {
  margin: 5px auto 0px auto;
  padding-bottom: 15px;
  min-width: 250px;
  max-width: 300px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* --------------------------- Desktop Styles --------------------------- */
@media only screen and (min-width:1050px) {
  /* No Show
  ------------------------------- */
.ham {
  display: none;
}
.logo {
  display: none;
}
/*------------------------------- */


.logo-desktop {
  width: 35%;
  width: 130px;
  display: block;
  margin: 10px auto;
}

.header-desktop {
  width: 25%;
  display: block;
}

/* -- Headers & Paragraphs 
------------------------------- */
h1 {
  font-size: 2rem;
}

.h1-starter {
  margin-top: 0px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 30px;
}

p {
  font-size: 1.1rem;
}

.location-info a{
  font-size: 1.3rem;
}

.visit {
  display: grid;
  width: 80%;
  grid-template-columns: 50% 50%;
  text-align: right;
}

.p-visit {
  width: 70%;
}

.opening-hours {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.days {
  text-align: right;
}

.days p {
  margin-right: 5px;
}

.hours {
  text-emphasis: left;
}

.hours p {
  margin-left: 0px;
}


/* -- Images & Map
------------------------------- */
.landing-img {
  width: 85%;
  margin: 85px auto 10px auto;
}

.home-img {
  width: 90%;
}

.img-exhibitions-landing {
  width: 85%;
  grid-row: 1/6;
  grid-column: 2;
  min-width: 360px;
}

.img-exhibition-groups {
  width: 90%;
  min-width: 300px;;
  grid-column: 2;
  grid-row: 1/8;
  margin: auto auto;
}

.img-explore-landing {
  /*width: 800px;
  height: 1213px;*/
  min-width: 300px;;
  grid-column: 2;
  grid-row: 2/8;
  width: 100%;
}

/*  Navigation & Control Panel 
------------------------------- */
#nav-bar {
  position: relative;
}

nav {
  width: 50%;
  top: -75px;
  right: -42%;
  margin: auto auto;
  display: flex;
  animation: none;
  border: none;
  background: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 50px;
  min-width: 950px;
}

nav li {
  min-width: 65px;
  height: 4.5vh;
}

nav a{
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  color: var(--brown);
}

.search-form {
  display: flex;

}

.current {
  text-decoration: none;
  border-bottom: 2px solid var(--orange);
}


/*  Exhibition Images on Home Page
-----------------------*/
.img-up-row {
  display: flex;
  justify-content: space-evenly;
}

.img-bottom-row {
  display: flex;
  justify-content: space-evenly;
}


/*  Footer
-----------------------*/
footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  margin-top: 60px;
}

/*  Exhibitions
-----------------------*/
.exhibitions-beginning {
  width: 80%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  margin: 100px auto 40px auto;
}

.exhibitions-beginning > p {
  grid-column: 1;
}

.exhibition-groups {
  width: 80%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  margin: auto auto;
}

/*  Explore
-----------------------*/
.explore-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  margin: 100px auto 40px auto;
}

.explore-grid > p {
  grid-column: 1;
  width: 90%;
}

.explore-grid > h1 {
  grid-column: 1;
}
}