/* --------------------------- Global  Styles --------------------------- */
:root {
    --orange: #e98000;
    --blue: #008f95;
    --gray-nav: #ede9e5;
    --gray-bg: #f8f5f2;
    --brown: #836c40;
    --light-brown: #F8ECDF;
}

body {
    background: var(--gray-bg);
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--gray-nav);
    box-shadow: 0px 2px 10px #000000;
    position: fixed;
    top: 0px;
}

footer {
    background: var(--brown);
}

.logo {
    display: inline;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    margin: 5px 0px auto 10px;
}

.separator {
    display: block;
    margin: 15px 0px;
    background-color: var(--light-brown);
    border: solid 1px var(--brown);
}


/* -- Headers & Paragraphs 
------------------------------- */
h1 {
    font-family: 'Fredericka the Great', cursive;
    color: var(--blue);
    font-size: 1.5rem;
    margin: 15px auto 5px auto;
    text-align: center;
}

.h1-starter {
  margin-top: 70px;
}

h2 {
    font-family: 'Fredericka the Great', cursive;
    color: var(--blue);
    font-size: 1rem;
    margin: 10px auto 5px auto;
    text-align: center;
}

.h2-for-text-titles {
  font-family: 'Nunito', sans-serif;
  color: var(--brown);
  text-decoration: underline;
}

p {
    font-family: 'Nunito', sans-serif;
    color: var(--brown);
    font-size: 0.7rem;
    width: 80%;
    margin: 0px auto;
}


/* -- Images 
------------------------------- */
.landing-img {
    display: block;
    width: 100%;
    margin: 60px 0px 0px 0px;
}

.home-img {
    display: block;
    width: 80%;
    max-width: 450px;
    margin: 10px auto 30px auto;
}

.img-exhibitions-landing {
    display: block;
    width: 80%;
    margin: 10px auto;
}

.img-explore-landing {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.img-events {
  display: block;
  width: 80%;
  margin: 20px auto;
}

/*  Navigation & Control Panel 
------------------------------- */
nav {
    display: none;
  }
  
#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  position: absolute;
  background: var(--gray-bg);
  right: 0px;
  top: 55px;
  width: 80%;
  min-width: 240px;
  max-width: 350px;
  border: 2px solid var(--orange);
  border-radius: 15px 0px 0px 15px;
  animation-name: scroll-in;
  animation-duration: 450ms;
  animation-timing-function: ease-out;
}

nav a {
  font-size: 1rem;
  font-weight: 450;
  text-decoration: none;
  color:  var(--orange);
  font-family: 'Nunito', sans-serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

nav li {
  display: flex;
  justify-content: start;
  padding-top: 15px;
  height: 35px;
  width: 80%;
  min-width: 230px;
  align-items: center;
  background: var(--gray);
  border-right: solid 2px var(--red);
  border-left: solid 2px var(--red);
}

nav img {
    padding-right: 15px;
    margin-left: 20px;
}

.ham {
  position: relative;
  display: inline;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: var(--orange);
  cursor: pointer;
  margin-left: 10px;
}  

.current {
  text-decoration: none;
  font-weight: 850;
}

.search-bar-form {
  position: absolute;
  right: 10px;
  top: 220px;
}



/* -- Footer 
------------------------------- */
footer h2{
    font-family: 'Nunito', sans-serif;
    color: var(--gray-nav);
    text-decoration: underline;
    font-size: 0.8rem;
    margin-top: 15px;
    padding-top: 20px;
}

footer a {
    font-family: 'Nunito', sans-serif;
    font-size: 0.7rem;
    color: var(--gray-nav);
    margin: 0px auto;
    text-align: center;
    text-decoration: none;
}

.basic-info {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

footer form {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 150px;
    max-width: 350px;
    margin: 0px auto;
}

footer input {
    margin: 2px auto;
    border-radius: 5px;
    border: none;
}

.social-media {
    margin: 5px auto 0px auto;
    padding-bottom: 15px;
    min-width: 250px;
    max-width: 300px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


